main {
    min-height: calc(100vh - 10rem);
}

main .book-appointment {
    padding: 2rem;
    width: 50rem;
    height: 40rem;
    border-radius: var(--border-radius);
    text-align: center;
    margin: auto;

    /* border: 1px solid black; */

}

.calendly-inline-widget {
    min-width: 100%;
    height: 100%;
}

@media screen and (max-width: 1200px) {
    main .book-appointment {
        width: 100%;
        min-height: 25rem;
        padding: 0;
    }
}