.intro {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro h2 {
    width: 70%;
    margin-top: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}

.photo-grid, .consultation-links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.photo-grid {
    width: 100%;
}


.photo-grid .image img {
    width: 100%;
    height: 15rem;
}

.consultation-links {
    margin-top: 5rem;
}

.consultation-link {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-bottom: 1.5rem;
}

.consultation-link .image img {
    border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.consultation-link .heading {
    font-weight: var(--font-weight-bold);
    font-size: larger;
}

.consultation-link .desc {
    width: 70%;
    height: 10rem;
    text-align: justify;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.consultation-link .contact-link a {
    padding: 0.8rem;
    border-radius: var(--border-radius);

    /* hover effect */
    background-image: linear-gradient(var(--background-color), var(--background-color));
    background-size: 100% 100%;
    background-repeat: no-repeat;
    transition: .4s;
}

.consultation-link .contact-link a:hover {
    box-shadow: 0 0.5rem 0.5rem -0.4rem;
    background-color: var(--background-color-2);
}

@media screen and (max-width: 950px) {
    main {
        padding-top: 0;
    }

    .intro {
        width: 100%;
    }

    .intro h2 {
        width: 100%;
        text-align: justify;
    }

    .consultation-links {
        margin-top: 2rem;
    }

    .container {
        grid-template-columns: 1fr;
        padding: 0;
    }

    .container .card .heading{
        font-size: 1.7rem;
    }

    .container .card .desc {
        width: 90%;
        height: 7rem;
        margin-bottom: 1rem;
    }
}

@media screen and (min-width: 950px) and (max-width: 1200px) {
    .intro {
        width: 100%;
        padding: 0 5%;
    }

    .intro h2{
        width: 100%;
        text-align: center;
    }

    .consultation-links {
        margin-top: 0;
    }

    .container {
        grid-template-columns: 1fr 1fr;
    }

    .container .card .desc {
        margin-bottom: 4rem;
    }
}