main {
    width: 70%;
    margin: auto auto 1rem auto;
}

main figure {
    margin-top: 2rem;
    text-align: center;
}

img {
    width: 14rem;
    height: auto;
}

main figure figcaption {
    font-size: 0.75rem;
}

main .bio {
    margin-top: 2rem;
}

.bio h2 {
    margin: auto;
    width: 32rem;
}

.bio .important-info {
    text-align: justify;
    width: 32rem;
    margin: auto;
    margin-top: 1rem;
}

.bio .important-info span {
    font-weight: var(--font-weight-bold);
}

.bio .important-info ul ul {
        margin-left: 1rem;
}

@media screen and (max-width: 950px) {
    .content {
        max-width: 100vw;
    }

    header {
        max-width: 100%;
    }

    main {
        text-align: center;
        width: 100%;
    }

    main figure {
        margin-top: 1rem;
        width: 100%;

        border: 1px solid black;
    }

    main .profile-photo img {
        width: 10rem;
    }

    .bio h2 {
        width: 100%;
    }

    .bio .important-info {
        width: 100%;
    }
}